@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&display=swap');


html{
    width: 100%;
    height: 100%;
}
header {
    font-size: 18pt;
    font-family: verdana, arial;
    text-align: center;
    background-color: teal;
    justify-items: start;
    padding: 10px; /*/margen al lado izquierdo por dentro del header*/
    align-items: center; /* alinear centrado en el eje vertical > */
    display: flex; /* para que los elementos me queden seguidos*/
    gap: 10px; /* para darle espacio a los elementos que pusimos seguidos. 
                  Esta de la mano con display flex*/
}
.header_figure img{
    width: 30px;   
}

main{ 
    font-size: 20pt;
    font-family: verdana, arial;
    text-align: center;
    background-color: #c9e2dc; 
    padding: 5%; 

}

#main_img1{
width: 40px;
margin: 0px 10px 0px 10px;
}

figure{
    margin: 0;
}

main{
    display: flex;
    gap: 5px;
    justify-items: center;
}

.main_section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    /*justify-content: center; /para colocar en todo el centro del contenedor */
    /*display: inline-block ; /tipo de alineacion vertical pero con las propeidades del flex*/
}
.main_section_title{
    display: flex;
    padding: 8px;
    justify-content: center;
    width: 50%;
    background-color: aliceblue;
    text-align: center;
    border-radius: 10px;
    align-items: center;

}
.detail-title{
    font-size: 30px;
    font-weight: bolder;
}
.container1{
    width: 60%; 
    display: flex;
    gap: 5px;
}

.container2{
    width: 30%;
    opacity: 0,5;
    background-color: aliceblue;
    padding: 20px;
    border-radius: 22px; 

    display: flex;
    align-content: space-around;
    flex-direction: column;
    justify-content: space-around;
}


#main_img2{
    width: 50%;
    margin: 10px 0px 10px 0px ;
 }

.footer_section{display: flex;
    align-items: center;
 }
.title-footer{
    justify-content: center
 }
h1{
    font-size: 16pt;
    text-align: center;
    font-family: 'Climate Crisis';
}

/* #name_pokemon ::before{
    content: "Charizar";
    background-image: crimson;
} */

.div_footer_tittle{width: 100%;
}
.footer_section{
    font-size: 14pt;
    font-family: verdana, arial;
    text-align: center;
    background-color: teal;
    display: flex; 
       
}
.div_footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.div_footer_imagin{
    opacity: 0.6;
    width: 10%;
    cursor: pointer;
    justify-content: space-between; /*le da el mismo espacio a todos los elementos de la linea los separa en la misma proporcion*/
}

.div_footer_imagin:hover {
    opacity: 1;
    width: 11%;
    cursor: pointer;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.col{
    width: 45%;
}

/* #footer_img1{
    width: 5%;
}

#footer_img2{
    width: 5%;
}

#footer_img3{
    width: 5%;
}

#footer_img4{
    width: 5%;
} */

/* footer.div_footer{
    display: flex; 
    gap: 10;
    width: 80;
}
/* .a{ El Elemento HTML Anchor <a> crea un enlace a otras páginas de internet, archivos o ubicaciones  */
/* dentro de la misma página, direcciones de correo, o cualquier otra URL
    text-decoration: none; para quitarle el subrayado a las etiquetas a */